<div class="chat">

  <div *ngIf="innerWidth > 1100" class="chat-nav">

    <div class="chat-info">
      <span class="title">Settings</span>
      <span class="subtitle">Account settings</span>
    </div>

    <svg class="desktop-svg" (click)="closeChat()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/></svg>

  </div>

  <div *ngIf="innerWidth < 1100" class="chat-nav-mobile">

    <svg (click)="closeChat()" class="mobile-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z" opacity=".87"/><path class="path" d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"/></svg>

    <div class="chat-info">
      <span class="title">Settings</span>
      <span class="subtitle">Account settings</span>
    </div>

  </div>

</div>
