/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: ChunkFive;
  src: url('../src/assets/fonts/ChunkFivePrint.otf');
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background-color: #17212b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #17212b;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.active{
  background-color: #2b5378 !important;
}

.subactive{
  color: #e1e1e1 !important;
}

.pin-active{
  path{
    fill: #7aa3ca;
  }
}
